.repositories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}

.repositorie {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 15px 0 rgba(206, 206, 206, 0.6);
  transition: all 0.35s ease;
  height: 420px;
  overflow: hidden;
}

.repositorie:hover {
  box-shadow: 0 18px 25px 0 rgb(197, 197, 197);
}

.repositorie h3 {
  color: #1e1e1e;
  font-weight: 700;
}

.repositorie_bg {
  background: transparent linear-gradient(180deg, #29c6e2 0%, #0077c7 100%) 0%
    0% no-repeat padding-box;
  height: 170px;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
}

.repo_info {
  padding: 30px 25px 10px 25px;
}

.repo_desc {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  font-weight: 400;
}

.tags {
  margin: 5px 0 15px 0;
}

.tag {
  color: white;
  background: #29c6e2;
  padding: 2px 15px;
  border-radius: 12px;
  font-size: 0.8em;
  font-weight: 600;
  margin-right: 5px;
}