.search {
  margin: 45px 0;
}

.input_search {
  display: flex;
  align-items: center;
}

.search input {
  border: none;
  padding: 15px 15px;
  width: 290px;
  border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
}

.search_icon i {
  padding: 15px;
  background: #fff;
  border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
}
